<template name="monitoreo">
    <div class="rutaMonitoreo">
        <label><strong>Monitoreo</strong></label>
    </div>
    <div class="container-fluid marco">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tickets">Tickets</a></li>
            <li><a data-toggle="tab" href="#jugadas">Jugadas</a></li>
            <li><a href="#"><button class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Límite Extra</button></a></li>
        </ul>

        <div class="tab-content">
            <div id="tickets" class="tab-pane fade in active">
                
            </div>
            <div id="jugadas" class="tab-pane fade">
                
            </div>
        </div>
    </div>
</template>