<template name="login">
    <section id="login">

        <div class="container cont-login">
            <div class="row">
                <div class="form-login">
                    <p>Por favor, ingrese sus datos:</p>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="usuario" placeholder="Usuario">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="contrasena" placeholder="Contraseña">
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Recuerdame</label>
                        </div>

                        <div class="button-ingresar">
                            <button type="submit" class="btn btn-primary btn-block">Ingresar <i
                                    class="fa fa-arrow-right" aria-hidden="true"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>