<template name="sorteos">
    <div class="container-fluid marco">
        <div class="cabeceraSorteos">
            <div class="elementoSorteos">
                <h3>Sorteos</h3>
            </div>
            <div class="elementoSorteos">
                <a href="#"><button class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button></a>
            </div>
        </div>
        <div class="contenidoSorteos">
            <div class="container">
                <div class="buscadorSorteos">
                    <div class="form-group">
                        <input type="date" class="form-control">
                    </div>
                    <div class="tablaSorteos">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Loteria</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>New York Maten</td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>New York Soir</td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>